{% extends 'header.html.twig' %}

{% block title %} Welcome !{% endblock %}
{% block body %}
 <div class="col-lg-6 col-md-12">
    <div id="carousel-v" class="carousel slide mt-3 mb-2" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slide in slides %}
                <li data-target="#carousel-v" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
            {% endfor %}
        </ol>
    <div class="carousel-inner">
        {% for slide in slides %}
            <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                <iframe src="{{ slide.image }}" allowfullscreen></iframe>
            </div>
        {% endfor %}
    </div>
        <a class="carousel-control-prev" href="#carousel-v" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel-v" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
    <div>
        <h1>coucou</h1>
        {{ form (form) }}
    </div>
    <div>
        {% for image in images %}
            <img style="width: 250px" src="{{ asset('images/' ~ image.getnom ~ image.getExtention) }}">
        {% endfor %}
        <img style="width: 250px" src="{{ asset('images/IMG_2178.jpg') }}">
    </div>
{% endblock %}