{% extends 'header.html.twig' %}

{% block title %} Welcome !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/accueil.css')}}">
{% endblock %}
{% block body %}
    {#

    {% if presentations|length != 0 %}
        {% if slides|length != 0 %}
            {% for slide in slides %}
             #}
                <div>
                   {#  <h1> Slide {{ slide.id }} </h1> #}
                    <p> Ajouter une image à votre slide </p>
                    {{ form (form) }}
                </div>
                <div>
                    {% for image in images %}
                    <img style="width: 250px" src="{{ asset('images/' ~ image.getNom ~ image.getExtention) }}">
                    {% endfor %}
                </div>
{#

            {% endfor %}
        {% else %}
            <div>
                <p> Ajouter une slide </p>
                {{ form (formSlide) }}
            </div>
        {% endif %}
    {% else %}
        <div>
            <p> Ajouter une présentation </p>
            {{ form (formPresentation) }}
        </div>
    {% endif %}
 #}
{% endblock %}
{% block javascripts %}                
    
{% endblock %}