{% extends 'header.html.twig' %}

{% block title %} Welcome !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/accueil.css')}}">
{% endblock %}
{% block body %}
    {% if presentations|length != 0 %}
        {% if slides|length != 0 %}
            {% for slide in slides %}
            <div>
                <h1> Slide {{ slide.id }} </h1>
                <p> Ajouter une image à votre slide </p>
                {{ form (form) }}
            </div>
            <div>
            {% for image in images %}
            <div id="{{ asset }}"
            <img style="width: 250px" src="{{ asset('images/' ~ image.getNom ~ image.getExtention) }}">
            {% endfor %}
            </div>
             <div class="main-container">
                {% if images|length != 0 %}
                <div id={{ slide.id }} class="img img-1">
                    <img src="{{ asset('images/' ~ image.getNom ~ image.getExtention) }}"> </img>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div>
                <h1> Voulez vous créer un slide </h1>
                <input name="slide" type="submit" value="Ajouter un slide">
            </div>
        {% endif %}
    {% else %}
            <div>
                <h1> Voulez vous créer une présentation </h1>
                <input name="presentation" type="submit" value="Ajouter une présentation">
            </div>
    {% endif %}

{% endblock %}
{% block javascripts %}                
    
{% endblock %}