{% extends 'header.html.twig' %}

{% block title %} Welcome !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/accueil.css')}}">
{% endblock %}
{% block body %}
        {% if slides|length != 0 %}
            {% for slide in slides %}
            <div>
                <h1>coucou</h1>
                {{ form (form) }}
            </div>
            <div>
            {% for image in images %}
            <div id="{{ asset}}"
            <img style="width: 250px" src="{{ asset('images/' ~ image.getnom ~ image.getExtention) }}">
            {% endfor %}
            <img style="width: 250px" src="{{ asset('images/IMG_2178.jpg') }}">
            </div>
             <div class="main-container">
                {#<div id={{ slide.id }} class="img img-1">
                    <img src={{ photo.src }}> </img>
                </div> #}

                <div class="title title-1" >Slide 1</div>
                <div id="slide1" class="img img-1">
                    <img src="{{ asset('images/slide2.png') }}"> </img>
                </div>
                <div class="img img-2"></div>
                <div class="img img-3"></div>
                <div class="img img-4"></div>
                <div class="img img-5"></div>

                <div class="title title-2">Slide 2</div>
                <div class="title title-3">Slide 3</div>
                <div class="title title-4">Slide 4</div>
                <div class="title title-5">Slide 5</div>
            </div>
            {% endfor %}
        {% endif %}
{% endblock %}
{% block javascripts %}
    <div>
        <h1>coucou</h1>
        {{ form (form) }}
    </div>
    <div>
        {% for image in images %}
            <img style="width: 250px" src="{{ asset('images/' ~ image.getNom ~ image.getExtention) }}">
        {% endfor %}
        <img style="width: 250px" src="{{ asset('images/IMG_2178.jpg') }}">
    </div>
{% endblock %}